<div class='wrapper'>
  <table class='person-table'>
    <thead>
      <tr class='person-row'>
        <th>Имя</th>
        <th>Фамилия</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class='person-row' *ngFor='let person of persons'>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>
          <div>
            <button class='btn btn-redact' (click)='goEditPersonModal(person)'></button>
            <button class='btn btn-delete' (click)='onDeleteBtn(person)'></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <button class='btn btn-add' (click)='goAddPersonModal()'>Добавить сотрудника</button>

  <div class="modal-delete-wrapper" *ngIf='showDeleteModal'>
    <app-delete-person 
    [person]='currentPerson'
    (toggleModal)='onToggleModal($event)'
  ></app-delete-person>
  </div>

</div>