:host {
  --alert-width: 40rem;
  --alert-width-half: calc(var(--alert-width) / 2);
  position: absolute;
  top: 10px;
  left: calc(50% - var(--alert-width-half));

}

.alert {
  position: relative;
  width: var(--alert-width);
}

.alert-bottom-right {
  bottom: 10px;
  right: 10px;
}

.alert-top-center {
  top: 10px;
  left: calc(50% - var(--alert-width-half));
}

.close {
  position: absolute;
  top: 3px;
  right: 4px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 15px;
  width: 15px;
  text-align: center;
}

@media(max-width: 600px) {
  :host {
    --alert-width: 200px;
  }
}