<!-- <div class='modal'>
  <div class='modal-title'>
    <span>Редактирование сотрудника</span>
  </div>

  <div class="modal-body">
    <a routerLink="" href="/">Назад к списку</a>
    <form class='modal-form' #editForm='ngForm' novalidate (ngSubmit)='onSubmit()'>
      <div class='form-wrapper'>
        <input 
          [(ngModel)]='curentPerson.firstName'
          name='firstName'
          class='form-input' 
          type="text" 
          placeholder="Введите имя сотрудника">
        <input
          [(ngModel)]='curentPerson.lastName' 
          name='lastName'
          class='form-input' 
          type="text" 
          placeholder="Введите фамилию сотрудника">
      </div>
      <button class="btn" [disabled]='editForm.invalid' >Сохранить</button>
    </form>
  </div>
</div> -->
<div class='modal'>
  <div class='modal-title'>
    <span>Редактирование сотрудника</span>
  </div>

  <div class="modal-body">
    <a routerLink="" href="/">Назад к списку</a>
    <form class='modal-form' [formGroup]='editForm' novalidate (ngSubmit)='onSubmit(editForm.value)'>
      <div class='form-wrapper'>
        <input 
          formControlName='firstName'
          class='form-input' 
          type="text" 
          placeholder="Введите имя сотрудника">
        <input
          formControlName='lastName' 
          class='form-input' 
          type="text" 
          placeholder="Введите фамилию сотрудника">
      </div>
      <button class="btn" [disabled]='editForm.invalid' >Сохранить</button>
    </form>
  </div>
</div>