:host {
  margin: 0 2rem;
}

.modal_delete {
  min-width: 280px;
  font-size: 2rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-person {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* .btn {
  width: 40%;
} */

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
} 